/* KOKO SIVU */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { 
    height: 100%;
    /*margin: 0;*/
    background-color: whitesmoke;
    font-family: sans-serif; 
       /* Tänne voisi merkata fontit. Varmaan käytetään kaikkialla samaa fonttia? */ /* Vältetään globaalia fonttikokoa, mielummin määritellään case to case pohjalla*/
}

/* HEADER */


.header{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 0px;
}
.footer{
    background-color: #333;
    color: white;
    padding: 15px;
    justify-content: center;
}

.footerlogo{
    display: block;
}

.yhteystiedot {
    display: flex;
    justify-content: center; 
    background-color: #444;
    padding: 40px;
    gap: 55px;
    text-align: center;    
}    

.somet a,.somet a:visited {
    text-decoration: none;
    color: white;
}

.navigaatiomenu {
    display: flex;
    justify-content: center; 
    margin-top: auto;
    background-color: #444;
    padding: 10px;
    gap: 60px  ;
    
}

.navigaatiomenu a,
.navigaatiomenu a:visited {
    text-decoration: none;
    color: white;
}

.navigaatiomenu a:hover,
.navigaatiomenu a:focus {
    background: #333;
    color: white;
    cursor: pointer;
}

.navigaatiomenu a {
    display: block;
}

.navigaatiomenu a {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigaatiomenu a:hover {
    padding-left: 0rem; 
    letter-spacing: 2px;
}

/* LANDING PAGE*/

.etusivumain {
    min-width: 0;
}


.salikuva img {

    height: 120%;
    width: 120%;      /* Maintains aspect ratio */
    object-fit: contain;
    align-self: center; /* Centers it vertically within the flex container */
    transition: transform 0.3s ease; /* Smooth animation for later */
    justify-content: center;
}

.arvolupaus {
    grid-area: arvolupaus;
    display: flex;
    justify-content: left; 
    flex-direction: row;
    margin-top: 0px;
    padding: 15px;
    gap: 100px  ;
    font-size: 25px;
}

.maincontent {

    margin-bottom: 30px;
}

.tekstiosio {
    justify-content: left; 
    margin-top: 20px;
    padding: 15px;
    gap: 10px;
    font-size: 25px;
    text-align: center;
   
}

/*kortit alkaa */ 

.etusivukortit {
    grid-area: etusivukortit;
    display: flex;
    gap: 3rem 3rem;
}

.etusivukortit {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    margin-left: 0 auto;

}

.card1, .card2, .card3, .card4 {
  display: flex;
  flex-direction: column;
  width: 300px; 
  height: 450px; 
  border-radius: 15px;
  overflow: hidden; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  margin-top: 30px;
  position: relative;
}

.text-overlay1 {
  position: absolute;
  top: 0;
  left: 0%;
  width: 300px;
  padding: 20px;
  background: #1066d7; 
  color: white;
  text-align: center;
  font-size: 18px;
  border-radius: 15px 15px 0px 0px;
}

.text-overlay2 {
  position : absolute;
  top: 0;
  left: 0%;
  width: 300px;
  padding: 20px;
  background: #1066d7; 
  color: white;
  text-align: center;
  font-size: 18px;
  border-radius: 15px 15px 0px 0px;
}


.text-overlay3 {
  position: absolute;
  top: 0;
  left: 0%;
  width: 300px;
  padding: 20px;
  background: #1066d7; 
  color: white;
  text-align: center;
  font-size: 18px;
  border-radius: 15px 15px 0px 0px;
}

.text-overlay4 {
  position: absolute;
  top: 0;
  left: 0px;
  width: 300px;
  padding: 20px;
  background: #1066d7; 
  color: white;
  text-align: center;
  font-size: 18px;
  border-radius: 15px 15px 0px 0px;
}

.card-image1, .card-image2, .card-image3, .card-image4 {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

/*kortit loppuu */

@media (min-width: 550px) {
    main {
    display: grid;
    grid-template-areas:
        "banner"
        "maincontent" 
        "etusivukortit"
        "arvolupaus";
        row-gap: 2rem; 
        column-gap: 1rem;
        padding: 2rem; 
        max-width: 1400px;
        margin: auto;
        background-color: whitesmoke;
        
    }

    .maincontent {
        grid-area: maincontent;
        display: flex;
        justify-content: left; 
        flex-direction: row;
        margin-top: 0px;
        padding: 15px;
        gap: 100px;
        font-size: 25px;
    }

    .salikuva {
    display: block;
    }

}


/* ABOUTUS */

.Aboutus_main {
  display: grid;
  grid-template-areas:
    "aboutus"
    "salikuva"
    "location"
    "maps"
    "historia"
    ;
  grid-template-rows: row;
  row-gap: 5rem;
  column-gap: 5rem;
  padding: 5rem;
}

.Aboutus {
    grid-area: aboutus;
    display: flex;
    justify-content: left; 
    margin-top: 0px;
    padding: 15px;
    gap: 10px;
    font-size: 25px;
    padding-left: 5%;
    padding-right: 0%;
    text-align: center;
}
   

.salikuva {
    grid-area: salikuva;
    display: flex;
    justify-content: right; 
    padding: 15px;
    gap: 60px  ;
    position: relative;
    top: 0px;
    
}


.tekstiosio, .tekstiosio2, .tekstiosio3 {
    justify-content: left; 
    margin-top: 0px;
    padding: 15px;
    gap: 10px;
    font-size: 25px;
  
    text-align: center;
    background-color: #44444400;
}

.location {
    grid-area: location;
     display: flex;
    justify-content: left; 
    margin-top: 0px;
    padding: 15px;
    gap: 10px;
    font-size: 25px;
    padding-left: 5%;
    padding-right: 0%;
    text-align: center;
}

.maps {
   grid-area: maps;
    display: flex;
    justify-content: right; 
    padding: 15px;
    gap: 60px  ;
    position: relative;
    top: 0px;
}

.historia {
    grid-area: historia;
    display: flex;
    justify-content: left; 
    margin-top: 0px;
    padding: 15px;
    gap: 10px;
    font-size: 25px;
    padding-left: 5%;
    padding-right: 0%;
    text-align: center;
}

/* CONTACT */

.Contact, .lomakeosio {
    justify-content: center;
    text-align: center;
}

/* JÄSENYYS */

.jasenyys_main {
    text-align: center;
}

.jasenyydet {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
@media (min-width: 550px) {
.jasenyydet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
}

.jasenyyskortti {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    width: 300px; 
    height: 450px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 18px;
}


.otsikko {
    background-color: #1066d7;
    color: white;
    height: 100px;
    line-height: 1;
    padding-top:20px;
    width: 100%;
    box-sizing: border-box;
    align-self: stretch;
    text-align: center;
    border-radius: 10px 10px 0 0;
}


.korttiotsikko {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.teksti, .hinta, .otsikko {
    text-align: center;
    padding: 10px;
}

.ikonit {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.lomakealue {
    text-align: center;
}

.jasenyyssivulomake {
    background-color: white;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    width: 90%;
}

.lomakeotsikko {
    background-color: #1066d7;
    color: white;
    height: 100px;
    line-height: 1;
    padding:20px;
    width: 100%;
    box-sizing: border-box;
    align-self: stretch;
    text-align: center;
    border-radius: 15px 15px 0 0;
}

.lomake {
    padding: 20px;
}

.lomakeotsikko {
    text-align: center;
    font-size: clamp(10px, 5vw, 30px);
    }

input, select, textarea, button {
    text-align: left;
    font-size: 25px;
    margin: 5px, auto;
    width: 90%;
}

button {
    padding: 10px;
}

@media (min-width: 550px) {
    .jasenyyssivulomake {
        background-color: white;
        margin: 0 auto;
        box-sizing: border-box;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        vertical-align: top;
        display: inline-block;
        text-align: left;
        font-size: 25px;
        width: auto;
    }

    .lomakeotsikko {
        text-align: left;
    }

    input, select, textarea, button {
    font-size: 25px;
    margin: 5px;
    width: auto;
    }
} 


/* PALVELUT */

.palvelut_main *,
.palvelut_intro *,
.palvelugrid * 
table * {
    min-width: 0;
}

.palvelut_main {
    text-align: center;
    align-items: center;
}

.palveluesittely, 
.ryhmaliikuntakalenteri {
    padding-top: 25px;
    padding-bottom: 25px;
}

.kuvakollaasi {
    align-items: center;
    display: block;
    width: 100%;
    max-width: 100%;
}

.kuvakollaasi img {
    height: auto;
    display: block;
    max-width: 100%;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #0c92c3;
    font-size: 12px;
    align-items: center;
    margin: 0;
    table-layout: fixed;
}

table th, table td {
    border: 2px solid #0c92c3;
    text-align: center;
    font-size: 8px;
    padding-top: 10px;
    padding-bottom: 10px;

}

table.wrapper {
    overflow-x: auto;
    width: 100%;
}


@media (min-width: 550px) {
    .palvelut_main {
        display:grid;
        grid-auto-flow: row;
        grid-template-areas: 
        "palvelut_intro"
        "palvelugrid";
        box-sizing: border-box;
        row-gap: 2rem; 
        column-gap: 1rem;
        padding: 2rem; 
        margin: auto;
        background-color: whitesmoke; 
        text-align: left;
    }

    .palvelut_intro {
        grid-area: palvelut_intro;
        text-align: center;
        padding: 2rem;
    }

    .palvelugrid {
        grid-area: palvelugrid;
        display: grid;
        grid-auto-flow: row;
        overflow: hidden;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 1rem;
        column-gap: 1rem;
        text-align: left;
        align-items: left;
    }

    .palveluesittely {
        text-align: left;
    }

    .kuvakollaasi {
    height: auto;
    display: block;
    }

    table { 
        width: 100%; 
        border-collapse: collapse; 
        border: 2px solid #0c92c3; 

    } 
    
    table th, table td { 
        border: 2px solid #0c92c3; 
        text-align: center; 
        white-space: normal; 
        font-size: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    } 
    table.wrapper { 
        overflow-x: auto; }
}

/* FOOTER */

