/* Nämä asetukset voisi laittaa kaikille sivuille, värin voi mieluusti vaihtaa!*/
html, body { 
    height: 100%;
    /*margin: 0;*/
    background-color: whitesmoke;
    font-family: sans-serif; 
    font-size: 25px;   /* Tänne voisi merkata fontit. Varmaan käytetään kaikkialla samaa fonttia? */
}

/* jäsenyyssivun css-kokeilua, täällä ei ole gridiä, pelkkiä flexboxeja. Tarvitaanko grid? */


.jasenyydet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: whitesmoke;
    gap: 20px;
}

.jasenyyskortti {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    width: 300px; 
    height: 450px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 18px;
}

.otsikko {
    background-color: #0c92c3;
    width: 100%;
    box-sizing: border-box;
    align-self: stretch;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.korttimarginaali {
    background-color: whitesmoke;
    padding: 1rem;
}

.teksti {
    width: 100%;
    text-align: center;
}

.ikonit {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.jasenyyssivulomake {
    background-color: #0c92c3;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #0c92c3;
    border-radius: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    font-size: 18px;
}

/*palvelusivun css-kokeilua: Täällä on nyt grid-rakenne */

.palvelusivu {
    display:grid;
    grid-auto-flow: row;
}

.palvelugrid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
    column-gap: 5rem;
    padding: 5rem;

}

table {
    table-layout: fixed;
    width: auto;
    border-collapse: collapse;
    border: 2px solid #0c92c3;
}

table th, table td {
    border: 2px solid #0c92c3;
    padding: 10px;
    text-align: center;
}

.intro {
    text-align: center;
    padding: 5rem;
    background-color: whitesmoke;
}

.tutustumismainos, .lomakeosio {
    text-align: center;
}

/*Headerin ja footerin sisällöt on täällä*/

.header,
.footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 25px;
}



.navigaatiomenu {
    display: flex;
    justify-content: center; 
    margin-top: 0px;
    background-color: #444;
    padding: 10px;
    gap: 60px  ;
    
}

.navigaatiomenu a,
.navigaatiomenu a:visited {
    text-decoration: none;
    color: white;
}

.navigaatiomenu a:hover,
.navigaatiomenu a:focus {
    background: #333;
    color: white;
    cursor: pointer;
}

.navigaatiomenu a {
    display: block;
}

.navigaatiomenu a {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigaatiomenu a:hover {
    padding-left: 0rem; 
    letter-spacing: 2px;
}