/* jäsenyyssivun css-kokeilua */
html, body { 
    height: 100%;
    margin: 0;
}

.jasenyydet {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #0c92c3;
    padding: 20px;
}
.jasenyyskortti {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
    width: 250px;
    height: 300px;
    padding: 5px;
    gap: 5px;
}

.teksti, .otsikko{
    text-align: center;
}

.ikonit {
    display: flex;
    align-items: center;
    gap: 10px;
}

form {
    background-color: #0c92c3;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid white;
    border-radius: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

/*palvelusivun css-kokeilua */

.palvelusivu {
    display:grid;
    grid-auto-flow: row;
}

.palvelugrid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
    column-gap: 5rem;
    padding: 5rem;

}

table {
    table-layout: fixed;
    width: auto;
    border-collapse: collapse;
    border: 2px solid #0c92c3;
}

table th, table td {
    border: 2px solid #0c92c3;
    padding: 10px;
    text-align: center;
}

h1 {
    text-align: center;
}

.intro {
    text-align: center;
    padding: 5rem;
}

.header,
.footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 0px;
}


.navigaatiomenu {
    display: flex;
    justify-content: center; 
    margin-top: 0px;
    background-color: #444;
    padding: 10px;
    gap: 60px  ;
}

.navigaatiomenu a,
.navigaatiomenu a:visited {
    text-decoration: none;
    color: white;
}

.navigaatiomenu a:hover,
.navigaatiomenu a:focus {
    background: #333;
    color: white;
    cursor: pointer;
}

.navigaatiomenu a {
    display: block;
}

.navigaatiomenu a {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigaatiomenu a:hover {
    padding-left: 0rem; 
    letter-spacing: 2px;
}