* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header,
.footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 0px;
}


.navigaatiomenu {
    display: flex;
    justify-content: center; 
    margin-top: 0px;
    background-color: #444;
    padding: 10px;
    gap: 60px  ;
}

.navigaatiomenu a,
.navigaatiomenu a:visited {
    text-decoration: none;
    color: white;
}

.navigaatiomenu a:hover,
.navigaatiomenu a:focus {
    background: #333;
    color: white;
    cursor: pointer;
}

.navigaatiomenu a {
    display: block;
}

.navigaatiomenu a {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigaatiomenu a:hover {
    padding-left: 0rem; 
    letter-spacing: 2px;
}

.Maincontent {
    display: flex;
    justify-content: left; 
    flex-direction: row;
    margin-top: 0px;
    padding: 15px;
    gap: 100px  ;
    font-size: 25px;
    
}

.salikuva {
    display: flex;
    justify-content: right; 
    margin-top: 0px;
    
    padding: 15px;
    gap: 60px  ;
}

.yhteystiedot {
    display: flex;
    justify-content: center; 
    margin-top: 0px;
    background-color: #444;
    padding: 15px;
    gap: 60px  ;
}

.card1, .card2, .card3 {
  display: flex;
  width: 300px; 
  height: 450px; 
  border-radius: 15px;
  overflow: hidden; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  margin-top: 30px;
}

.card-image1 {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.banner {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}