* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header,
.footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 0px;
}


.navigaatiomenu {
    display: flex;
    justify-content: center; 
    margin-top: 0px;
    background-color: #444;
    padding: 10px;
    gap: 60px  ;
}

.navigaatiomenu a,
.navigaatiomenu a:visited {
    text-decoration: none;
    color: white;
}

.navigaatiomenu a:hover,
.navigaatiomenu a:focus {
    background: #333;
    color: white;
    cursor: pointer;
}

.navigaatiomenu a {
    display: block;
}

.navigaatiomenu a {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.navigaatiomenu a:hover {
    padding-left: 0rem; 
    letter-spacing: 2px;
}

.yhteystiedot {
    display: flex;
    justify-content: center; 
    margin-top: 0px;
    background-color: #444;
    padding: 15px;
    gap: 60px  ;
}